.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.task-1 {
  div {
    margin-bottom: 1rem;

    &.numbered {
      counter-increment: paragraph;
      margin-bottom: 0.5rem;

      p {
        margin-left: 2em;
      }

      p:before {
        content: counter(paragraph) ". ";
        margin-left: -2em;
        margin-right: 1em;
      }
    }
  }
}

.Popover {
  width: max-content;
  max-width: calc(100vw - 20px);
  background-color: white;
  border: 1px solid #ddd;
  font-size: 90%;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: left;
  min-width: 320px;
}

.Popover textarea {
  max-width: 100%;
}